{% extends 'base.html' %}

{% block bodyblock %}
    <div class="container">
        <br>
        <h3 class="content">Object detection Application using Yolo v3</h3>

        <p class="content">
            Object detection : Using Yolo V3 pretrained with Coco dataset.
        <br>
        <img src="{{ url_for('static',filename='images/cerebro_perifericos.PNG') }}" alt="" width="500" height="170">
        <a class="btn btn-outline-primary" href="{{ url_for('objectdetection') }}">Try it now</a>
        <br>

         
        </div>
           

    </div>


{% endblock  %}