# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\yabo9\AI_Projects\AI_Projects\Computer_Vision\Object Detection with YOLO-3-OpenCV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
