# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\machine_learning\Personal projects\3.--SerialPythonArduino_fingers_led_false\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
